.container{
width: 1200px;
display: flex;
justify-content: space-between;/* Alterado para centralizar horizontalmente */
margin: 0 auto;
flex-wrap: wrap;
align-items: center;  /* Adicionado para alinhar ao topo */

}





.min-height{
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column{

    flex-direction: column;
    justify-content: flex-start;
}

  