/*   Rodapé */





 
.footer {
    position: fixed;
    color: #fff;
    bottom: 0;
    width: 1330px;
    height: 90px;
    background-color: rgb(4, 7, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0
  }
  